{
  "presets": [
    "@babel/react",
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "browsers": "last 2 Chrome versions",
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "syntax-decorators",
    "transform-class-properties",
    ["transform-object-rest-spread", { "useBuiltIns": true }]
  ]
}
