.h__appbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__title {
        font-family: $font-saira;
        text-transform: uppercase;
        font-size: 36px;
        white-space: nowrap;
        color: lighten($color-canvas, 10);
    }
}

@media screen and (min-width: 680px) {
    .h__appbar {
        align-items: baseline;

        &__title {
            padding-left: 40px;
            font-size: 60px;
        }
    }
}
