.h__article {
  position: relative;
  display: flex;
  padding: 0 40px;
  flex-direction: column;
  margin-left: 300px;
  min-height: 100%;
  width: calc(100% - 300px);
  overflow: hidden;
  background: $color-grey-light;

  &--login {
    align-items: center;
  }

  &--admin {
    flex-direction: column;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;

    > span {
      font-family: $font-raleway;
      font-size: 32px;
      font-weight: 300;
      color: $color-grey-dark;
    }
  }

  &__inner {
    padding-bottom: 60px;
    width: 100%;
  }

  &:before {
    @include transition(all, 0.3s, ease);
    position: absolute;
    content: '';
    background: #000;
    top: 0;
    left: 0;
    bottom: 0;
    right: auto;
  }
}
