.h__article {
  position: relative;
  display: flex;
  padding: 0 25px;
  flex-direction: column;
  margin-left: 300px;
  min-height: 100%;
  width: calc(100% - 300px);
  overflow: hidden;
  background: $color-grey-light;

  &--login {
    align-items: center;
  }

  &--admin {
    flex-direction: column;
  }

  &__actions {
    background: #fff;
  }

  &__inner {
    width: calc(100% - 300px);
  }
}
