.calendar {
  margin-top: 25px;
  width: 100%;
  font-family: "Roboto", sans-serif;

  &__label {
    margin-bottom: 10px;
    font-size: 14px;
    color: #fff;
  }

  input {
    appearance: none;
    padding: .5em 1em;
    border: 1px solid #ddd;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 400;
    outline: none;
  }

  & + & {
    margin-top: 20px;
  }
}
