.h__featured {

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__card {
        max-width: 300px;

        & + & {
            margin-top: 15px;
        }
    }
}

@media screen and (min-width: 680px) {
    .h__featured {

        &__list {
            flex-direction: row;
        }

        &__card {
            max-width: 300px;

            & + & {
                margin: 0 0 0 15px;
            }
        }
    }
}
