.h__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 30px;

  li {
    @include transition(all, 0.25s, ease);
    position: relative;
    padding-top: 100%;
    overflow: hidden;
    border-radius: 4px;
    background: #fff;
    color: $color-grey-dark;
    cursor: pointer;

    &:hover {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
      box-shadow: $shadow-three;
    }
  }
}


