.h__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  height: 60px;
  background: #000;

  &__btn {
    @include transition(all, 0.3s, ease);
    cursor: pointer;
    background: none;
    color: #fff;

    &:hover {
      color: darken(#fff, 15);
    }
  }

  &__user {
    color: #fff;
  }
}
