.h__modal {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1200;
  background: rgba(0, 0, 0, 0.65);

  > div {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__body {
    position: absolute;
    padding: 15px;
    top: 50%;
    left: calc(50% + 100px);
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    background: #fff;
  }
}
