.h__select {
  position: relative;
  display: inline-block;
  width: 120px;
  font-size: 14px;
  vertical-align: middle;
  text-align: left;
  border-radius: 2px;
  border: 1px solid $color-grey;
  z-index: 100;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  color: $color-grey-dark;

  &:focus {
    outline: none;
  }

  &__placeholder {
    @include transition(all, 0.3s, $transition-hover);
    position: relative;
    display: block;
    padding: 16px 20px;
    z-index: 10;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $color-secondary;
    cursor: pointer;

    > span {
      @include centerY();
      right: 5px;
      pointer-events: none;
    }

    svg {
      color: $color-grey-dark !important;
      pointer-events: none;
    }

    .active & {
      @include transition(all, 0.25s, $transition-standard);
      opacity: 0;
      text-indent: -120px;
    }
  }

  &__options {
    @include transition(all, 0.25s, $transition-standard);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 2px;
    background: $color-grey-lighter;
    overflow-x: hidden;
    overflow-y: auto;

    .active & {
      height: 400%;
      z-index: 20;
      box-shadow: $shadow-two;
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }

    ul {
      position: relative;
      padding: 15px 0 25px;
      visibility: hidden;

      .active & {
        visibility: visible;
      }
    }

    li {
      @include transition(all, 0.25s, $transition-ease-out);
      padding: 15px 0;
      opacity: 0;
      cursor: pointer;

      &:hover {
        color: $color-secondary;
        background: $color-grey-light;
      }

      .active & {
        opacity: 1;
      }
    }
  }
}

