@import
'project.duration',
'project.preview',
'project.title';

.h__project {
  @include transition(max-height, 0.325s, $transition-standard, 0.12s);
  position: relative;
  max-height: 120px;
  height: 100vh;
  font-family: $font-roboto;
  color: $color-secondary;
  cursor: pointer;

  .h__modal.active & {
    @include transition(max-height, 0.325s, $transition-standard, 0.1s);
    max-height: 250px;
    pointer-events: none;
    cursor: default;
  }

  &__months {
    font-size: 20px;
    text-transform: capitalize;
    color: $color-secondary;
  }

  &__border {

    &:before,
    &:after {
      position: absolute;
      bottom: 0;
      width: 50%;
      height: 4px;
      content: '';
    }

    &:before {
      left: 0;
      background: $color-primary;
    }

    &:after {
      right: 0;
      background: $color-secondary;
    }
  }
}
