body {
  margin: 0;
  padding: 0;
  font-family: $font-roboto;
  color: #fff;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  @include transition(all, 0.3s, ease);
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

.layout {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.clearfix {
  @include clearfix();
}
