@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
    -webkit-transform: scale(2);
  }
}

@-webkit-keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
    -webkit-transform: scale(2);
  }
}
