$color-primary: #3d8b47;
$color-secondary: #483d8b;
$color-canvas: #303030;

// Winter theme
$site-background: #e4e5e9;
$site-font-primary: #fefdfd;
$site-font-secondary: #666d78;
$site-highlight: #313842;
$site-highlight-dark: #2b323c;
$site-border-primary: #8c90b1;
$site-border-secondary: #1fb5b5;
