$color-primary: #e0b733;
$color-secondary: #fff;
$color-background: #20242c;
$color-font-primary: #fefdfd;
$color-font-secondary: #666d78;
$color-highlight: #7698a5;
$color-highlight-dark: #2b323c;
$color-border-primary: #8c90b1;
$color-border-secondary: #1fb5b5;



