$color-primary: #ff7324;
$color-secondary: #454d60;
$color-background: #e4e5e9;
$color-font-primary: #fefdfd;
$color-font-secondary: #666d78;
$color-highlight: #313842;
$color-highlight-dark: #2b323c;
$color-border-primary: #8c90b1;
$color-border-secondary: #1fb5b5;

// #1e1e24 // raisin black

// hex

// #ee6c4d // light red ochre
// #468c98 // steel blue
// #22B1F9 // blue
// #ffbc06 // gold



// light yellow to dark purple
// #dcbb63, #b05b5a, #975678, #7d4d7a, #62426c, #3f354f



