$font-default: Arial, sans-serif;
$font-saira: 'Saira Extra Condensed', $font-default;
$font-roboto: 'Roboto', $font-default;
$font-montserrat: 'Montserrat', $font-default;
$font-lato: 'Lato', $font-default;
