$shadow-one: 0 1px 3px $color-grey, 0 1px 2px $color-grey;
$shadow-two: 0 3px 6px $color-grey, 0 3px 6px $color-grey;
$shadow-three: 0 10px 20px $color-grey, 0 6px 6px $color-grey;
$shadow-four: 0 14px 28px $color-grey, 0 10px 10px $color-grey;
$shadow-five: 0 19px 38px $color-grey, 0 15px 12px $color-grey;
